*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.contaner{
    display: flex;
    font-display: row;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-color: #f2796e;
    width: 55vh;
    min-height: 100vh;
    padding: 10px 20px;
}
.image{
    background-image: url(./img/bg.svg);
    height: 65%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.text{
    text-align: center;
    color: white;
    font-size: 18px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;1
    width: 45px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
}
.title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
foem div input{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}